<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmileApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".RewardsAwaitActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChildLoginActivity" />
        <activity android:name=".DoctorLoginActivity" />
        <activity android:name=".ChildDashboardActivity" />
        <activity android:name=".DoctorDashboardActivity" />
        <activity android:name=".ChildAppointmentsActivity" />
        <activity android:name=".ChildRewardsActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".BrushingTaskActivity" />
        <activity android:name=".DoctorAppointmentManagerActivity" />
        <activity android:name=".PendingApprovalsActivity" />
        <activity android:name=".PatientManagementActivity" />
        <activity android:name=".DoctorProfileActivity" />
        <activity android:name=".PendingReviewsActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".BrushingTipsActivity" />
        <activity android:name=".VideoPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>